fastapi==0.120.1
uvicorn[standard]==0.38.0
python-multipart==0.0.20

sqlalchemy[asyncio]==2.0.36
asyncpg
psycopg2-binary
alembic==1.14.1

PyJWT==2.8.0
bcrypt==4.0.1
passlib==1.7.4

python-dotenv==1.0.1
pydantic[email]==2.12.3
pydantic-settings==2.7.0

# Azure
azure-communication-email==1.1.0
azure-identity==1.19.0
azure-storage-blob==12.27.1

# Cliente Async
aiohttp==3.9.5

# Utilidades
python-dateutil==2.9.0
pytz==2024.2
bleach==6.1.0
python-slugify==8.0.1

# 2FA
pyotp==2.9.0
qrcode[pil]==7.4.2


# Seguridad
cryptography>=42.0.0